<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <style>
        h3 {
            color: rgb(153, 0, 0);
        }

        h6 {
            font-weight: bold;
        }

        p {
            color: black;
            font-size: 14px;
            margin-top: -7px;
        }

        .redcolor {
            background-color: rgb(153, 0, 0);
        }

        #search {
            width: 357px;
            margin: 4px auto;
            text-align: center;
            display: inline-block;
        }

        .scroll-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>
    <title>{{ course_info.title }}</title>

</head>
<body ng-app="myApp" ng-controller="userCtrl">
<nav class="navbar navbar-expand-md navbar-dark fixed-top redcolor">
    <a href="{% url "index" %}"><img
            src="https://www.rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/RPIlogo_white.png" height="40px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "index" %}">Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "index_prof" %}">Faculty</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% if course_info %}
        <a href="#"><h3 style="padding-top: 70px">{{ course_info.title }}</h3></a>
    {% else %}
        <a href="#"><h3 style="padding-top: 70px">Title Not available</h3></a>
    {% endif %}
    <div class="row" style="padding-top: 10px;">
        <div class="col-auto">
            <h6>Prerequisite:</h6>
            {% if course_info %}
                <p>{{ course_info.prerequisites|slice:"13:" }}</p>
            {% else %}
                <p>Prerequisites Not available</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <h6>When offered:</h6>
            {% if course_info %}
                <p>{{ course_info.offered|slice:"13:" }}</p>
            {% else %}
                <p>Offer time not available</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <h6>Description:</h6>
            {% if course_info %}
                <p>{{ course_info.description }}</p>
            {% else %}
                <p>Description time not available</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <h6>Archived Links:</h6>
            <p>xxx<br>xxx</p>
        </div>
    </div>
</div>
</body>
</html>