<!-- http://www.runoob.com/angularjs/angularjs-bootstrap.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <style>
        .redcolor {
            background-color: rgb(153, 0, 0);
        }

        #search {
            width: 357px;
            margin: 4px auto;
            text-align: center;
            display: inline-block;
        }

        .scroll-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>

</head>
<body ng-app="myApp" ng-controller="userCtrl">
<nav class="navbar navbar-expand-md navbar-dark fixed-top redcolor">
    <a href="http://www.rpi.edu"><img
            src="https://www.rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/RPIlogo_white.png" height="40px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Faculty <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Course</a>
            </li>
        </ul>
    </div>
</nav>
<img src="https://vignette.wikia.nocookie.net/sonicpokemon/images/1/1f/Magikarp_AG_anime.png/revision/latest/scale-to-width-down/250?cb=20130520060359"
     style="margin-top: 100px; height: 250px; margin-left: 531px;">
<div class="container">
    <div style="margin: 4px auto; text-align: center; width: 1000px; padding-top: 50px;">
        <form action="" method="get">
            <div class="row" style="margin: 4px auto; text-align: center; width: 718px;">
                <div class="col-auto">

                    <select class="custom-select" id="courseprefix" name="filter[27]" title="Choose a Course Prefix">
                        <option value="-1">Departments</option>
                        <option value="ARCH">ARCH</option>
                        <option value="ARTS">ARTS</option>
                        <option value="ASTR">ASTR</option>
                        <option value="BCBP">BCBP</option>
                        <option value="BIOL">BIOL</option>
                        <option value="BMED">BMED</option>
                        <option value="CHEM">CHEM</option>
                        <option value="CHME">CHME</option>
                        <option value="CISH or CSCI">CISH or CSCI</option>
                        <option value="CIVL">CIVL</option>
                        <option value="COGS">COGS</option>
                        <option value="COMM">COMM</option>
                        <option value="CSCI">CSCI</option>
                        <option value="ECON">ECON</option>
                        <option value="ECSE">ECSE</option>
                        <option value="ENGR">ENGR</option>
                        <option value="ENVE">ENVE</option>
                        <option value="ERTH">ERTH</option>
                        <option value="ESCI">ESCI</option>
                        <option value="GSAS">GSAS</option>
                        <option value="IENV">IENV</option>
                        <option value="IHSS">IHSS</option>
                        <option value="ISCI">ISCI</option>
                        <option value="ISYE">ISYE</option>
                        <option value="ITWS">ITWS</option>
                        <option value="LANG">LANG</option>
                        <option value="LGHT">LGHT</option>
                        <option value="LITR">LITR</option>
                        <option value="MANE">MANE</option>
                        <option value="MATH">MATH</option>
                        <option value="MATP">MATP</option>
                        <option value="MGMT">MGMT</option>
                        <option value="MTLE">MTLE</option>
                        <option value="PHIL">PHIL</option>
                        <option value="PHYS">PHYS</option>
                        <option value="PSYC">PSYC</option>
                        <option value="STSH">STSH</option>
                        <option value="STSS">STSS</option>
                        <option value="USAF">USAF</option>
                        <option value="USAR">USAR</option>
                        <option value="USNA">USNA</option>
                        <option value="WRIT">WRIT</option>
                    </select>

                </div>
                <div class="col-auto">
                    <input type="text" name="search_content" placeholder="Course" style="height: 38px; width: 400px;">
                </div>
                <div class="col-auto">
                    <button class="btn btn-danger"
                            style="background-color: rgb(153, 0, 0); border-color: rgb(153, 0, 0);">Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
