<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <style>
        h5 {
            color: rgb(153, 0, 0);
        }

        p {
            color: black;
            font-size: 16px;
        }

        .redcolor {
            background-color: rgb(153, 0, 0);
        }

        #search {
            width: 357px;
            margin: 4px auto;
            text-align: center;
            display: inline-block;
        }

        .scroll-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }
    </style>
    <title>RPI Advanced Academic Catalog</title>

</head>
<body ng-app="myApp" ng-controller="MyCtrl">
<nav class="navbar navbar-expand-md navbar-dark fixed-top redcolor">
    <a href="{% url "index" %}"><img
            src="https://www.rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/RPIlogo_white.png" height="40px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="./main.html">Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./main_faculty.html">Faculty</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div style="margin: 4px auto; text-align: center; width: 1200px; padding-top: 100px;">
        <form action="{% url "search_course" %}" method="get">
            <div class="row" style="margin: 4px auto; text-align: center; width: 1018px;">
                <div class="col-auto">
                    <select name="dept" ng-model="dep" ng-init="dep='{{ dept }}'" ng-options="x for x in names"
                            style="height: 38px;"></select>
                </div>
                <div class="col-auto">
                    <input type="text" value="{{ search_content }}" placeholder="Course" name="search_content"
                           style="height: 38px; width: 400px;">

                </div>
                <div class="col-auto">
                    <button class="btn btn-danger"
                            style="background-color: rgb(153, 0, 0); border-color: rgb(153, 0, 0);">Search
                    </button>
                </div>
                <div class="col-auto">
                    <label>
                        <select id="select" name="sort" class="custom-select">
                            <option value="1">Sort by: Alphabet</option>
                            <option value="2">Sort by: Course Code</option>
                            <option value="3">Sort by: Relevance</option>
                        </select>
                    </label>
                </div>
            </div>
        </form>
    </div>
    {% for course in search_results %}
        <div class="row" style="padding-top: 10px;">
            <div class="col-auto">
                <a href="{% url "course_detail" name_num=course.course_code %}">
                    <h5>{{ course.course_code }} {{ course.title }}</h5></a>
                <p style="overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp:3;
                -webkit-box-orient: vertical;">{{ course.description }}</p>
            </div>
        </div>
    {% endfor %}
    <div id="pages">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                <li class="page-item"><a class='active page-link'
                                         href="?page=1{% if request.GET.dept %}&dept={{ request.GET.dept }}{% endif %}{% if request.GET.search_content %}&search_content={{ request.GET.search_content }}{% endif %}">First</a>
                </li>
                {% if search_results.has_previous %}
                    <a class='active page-link' href="?page=





                            {{ search_results.previous_page_number }}{% if request.GET.dept %}&dept={{ request.GET.dept }}{% endif %}{% if request.GET.search_content %}&search_content={{ request.GET.search_content }}{% endif %}">Previous</a>
                {% endif %}
                {% if search_results.number|add:-2 > 0 %}
                    <li class="page-item"><a class='active page-link' href="?page=





                            {{ search_results.number|add:-2 }}{% if request.GET.dept %}&dept={{ request.GET.dept }}{% endif %}{% if request.GET.search_content %}&search_content={{ request.GET.search_content }}{% endif %}">{{ search_results.number|add:-2 }}</a>
                    </li>
                    <li class="page-item"><a class='active page-link' href="?page=





                            {{ search_results.number|add:-1 }}{% if request.GET.dept %}&dept={{ request.GET.dept }}{% endif %}{% if request.GET.search_content %}&search_content={{ request.GET.search_content }}{% endif %}">{{ search_results.number|add:-1 }}</a>
                    </li>
                {% elif search_results.number|add:-1 > 0 %}
                    <li class="page-item"><a class='active page-link' href="?page=





                            {{ search_results.number|add:-1 }}{% if request.GET.dept %}&dept={{ request.GET.dept }}{% endif %}{% if request.GET.search_content %}&search_content={{ request.GET.search_content }}{% endif %}">{{ search_results.number|add:-1 }}</a>
                    </li>
                {% endif %}
                <li class="active page-item"><a class="page-link">{{ search_results.number }} <span class="sr-only">(current)</span></a>
                </li>
                {% if search_results.number|add:2 <= search_results.paginator.num_pages %}
                    <li class="page-item"><a class='active page-link' href="?page=





                            {{ search_results.number|add:1 }}{% if request.GET.dept %}&dept={{ request.GET.dept }}{% endif %}{% if request.GET.search_content %}&search_content={{ request.GET.search_content }}{% endif %}">{{ search_results.number|add:1 }}</a>
                    </li>
                    <li class="page-item"><a class='active page-link' href="?page=





                            {{ search_results.number|add:2 }}{% if request.GET.dept %}&dept={{ request.GET.dept }}{% endif %}{% if request.GET.search_content %}&search_content={{ request.GET.search_content }}{% endif %}">{{ search_results.number|add:2 }}</a>
                    </li>
                {% elif search_results.number|add:1 <= search_results.paginator.num_pages %}
                    <li class="page-item"><a class='active page-link' href="?page=





                            {{ search_results.number|add:1 }}{% if request.GET.dept %}&dept={{ request.GET.dept }}{% endif %}{% if request.GET.search_content %}&search_content={{ request.GET.search_content }}{% endif %}">{{ search_results.number|add:1 }}</a>
                    </li>
                {% endif %}
                <!--{% for i in search_results.paginator.page_range %}
                    {% if search_results.number == i %}
                    <li class="active page-item"><a class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.dept %}&dept=
                    {{request.GET.dept}}{% endif %}{% if request.GET.search_content %}&search_content=
                    {{request.GET.search_content}}{% endif %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}-->
                <!--<span class="current">
                    Page {{ search_results.number }} of {{ search_results.paginator.num_pages }}</span>-->
                {% if search_results.has_next %}
                    <a class='active page-link' href="?page=





                            {{ search_results.next_page_number }}{% if request.GET.dept %}&dept={{ request.GET.dept }}{% endif %}{% if request.GET.search_content %}&search_content={{ request.GET.search_content }}{% endif %}">Next</a>
                {% endif %}
                <a class='active page-link' href="?page=





                        {{ search_results.paginator.num_pages }}{% if request.GET.dept %}&dept={{ request.GET.dept }}{% endif %}{% if request.GET.search_content %}&search_content={{ request.GET.search_content }}{% endif %}">Last</a>
            </ul>
        </nav>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('MyCtrl', function ($scope) {
        $scope.names = ["All Departments", "ARCH", "ARTS", "ASTR", "BCBP", "BIOL", "BMED", "CHEM", "CHME", "CISH or CSCI", "CIVL", "COGS", "COMM", "CSCI", "ECON", "ECSE", "ENGR", "ENVE", "ERTH", "ESCI", "GSAS", "IENV", "IHSS", "ISCI", "ISYE", "ITWS", "LANG", "LGHT", "LITR", "MANE", "MATH", "MATP", "MTLE", "PHIL", "PHYS", "PSYC", "STSH", "STSS", "USAF", "USAR", "USNA", "WRIT"];
    });
    onload = function () {
        document.getElementById("select").selectedIndex = {{ sort_option|slugify }};
    }


</script>
</body>
</html>