{% extends 'polls/base.html' %}
{% block title %}RPI Advanced Academic Catalog{% endblock %}
{% block content %}
    {% load page_url %}
    <body ng-app="myApp" ng-controller="MyCtrl">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top redcolor">
        <a href="{% url "index" %}"><img
                src="https://www.rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/RPIlogo_white.png"
                height="40px" alt="HTML5"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./main.html">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./main_faculty.html">Faculty</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div style="margin: 4px auto; text-align: center; width: 1200px; padding-top: 100px;">
            <form action="{% url "search_course" %}" method="get">
                <div class="row" style="margin: 4px auto; text-align: center; width: 1018px;">
                    <div class="col-auto">
                        <label>
                            <select name="dept" ng-model="dep" ng-init="dep='{{ dept }}'" ng-options="x for x in names"
                                    style="height: 38px;"></select>
                        </label>
                    </div>
                    <div class="col-auto">
                        <label>
                            <input type="text" value="{{ search_content }}" placeholder="Course" name="search_content"
                                   style="height: 38px; width: 400px;">
                        </label>

                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger"
                                style="background-color: rgb(153, 0, 0); border-color: rgb(153, 0, 0);">Search
                        </button>
                    </div>
                    <div class="col-auto">
                        <label>
                            <select id="select" name="sort" class="custom-select">
                                <option value="1">Sort by: Alphabet</option>
                                <option value="2">Sort by: Course Code</option>
                                <option value="3">Sort by: Relevance</option>
                            </select>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        {% for course in search_results %}
            <div class="row" style="padding-top: 10px;">
                <div class="col-auto">
                    <a href="{% url "course_detail" name_num=course.course_code %}">
                        <h5 style="color: rgb(153, 0, 0);">{{ course.course_code }} {{ course.title }}</h5></a>
                    <p style="overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp:3;
                -webkit-box-orient: vertical;">{{ course.description }}</p>
                </div>
            </div>
        {% endfor %}

        {% if search_results.paginator.num_pages != 1 %}
            <div id="pages">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                        <li class="page-item">
                            <a class='active page-link'
                               href="{% generate_url search_content dept 1 %}">First</a>
                        </li>
                        {% if search_results.has_previous %}
                            <a class='active page-link'
                               href="{% generate_url search_content dept search_results.previous_page_number %}">
                                Previous</a>
                        {% endif %}
                        {% if search_results.number|add:-2 > 0 %}
                            <li class="page-item">
                                <a class='active page-link'
                                   href="{% generate_url search_content dept search_results.number|add:-2 %}">
                                    {{ search_results.number|add:-2 }}</a>
                            </li>
                            <li class="page-item">
                                <a class='active page-link'
                                   href="{% generate_url search_content dept search_results.number|add:-1 %}">
                                    {{ search_results.number|add:-1 }}</a>
                            </li>
                        {% elif search_results.number|add:-1 > 0 %}
                            <li class="page-item">
                                <a class='active page-link'
                                   href="{% generate_url search_content dept search_results.number|add:-1 %}">
                                    {{ search_results.number|add:-1 }}</a>
                            </li>
                        {% endif %}
                        <li class="active page-item"><a class="page-link">{{ search_results.number }} <span
                                class="sr-only">(current)</span></a>
                        </li>
                        {% if search_results.number|add:2 <= search_results.paginator.num_pages %}
                            <li class="page-item">
                                <a class='active page-link'
                                   href="{% generate_url search_content dept search_results.number|add:1 %}">
                                    {{ search_results.number|add:1 }}</a>
                            </li>
                            <li class="page-item">
                                <a class='active page-link'
                                   href="{% generate_url search_content dept search_results.number|add:2 %}">
                                    {{ search_results.number|add:2 }}</a>
                            </li>
                        {% elif search_results.number|add:1 <= search_results.paginator.num_pages %}
                            <li class="page-item">
                                <a class='active page-link'
                                   href="{% generate_url search_content dept search_results.number|add:1 %}">
                                    {{ search_results.number|add:1 }}</a>
                            </li>
                        {% endif %}
                        {% if search_results.has_next %}
                            <a class='active page-link'
                               href="{% generate_url search_content dept search_results.next_page_number %}">Next</a>
                        {% endif %}
                        <a class='active page-link'
                           href="{% generate_url search_content dept search_results.paginator.num_pages %}">Last</a>
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('MyCtrl', function ($scope) {
            $scope.names = ["All Departments", "ARCH", "ARTS", "ASTR", "BCBP", "BIOL", "BMED", "CHEM", "CHME", "CIVL",
                "COGS", "COMM", "CSCI", "ECON", "ECSE", "ENGR", "ENVE", "ERTH", "ESCI", "GSAS", "IENV", "IHSS", "ISCI",
                "ISYE", "ITWS", "LANG", "LGHT", "LITR", "MANE", "MATH", "MATP", "MTLE", "PHIL", "PHYS", "PSYC", "STSH",
                "STSS", "USAF", "USAR", "USNA", "WRIT"];
        });
        onload = function () {
            document.getElementById("select").selectedIndex = {{ sort_option|slugify }};
        }


    </script>
    </body>
{% endblock %}>