{% extends 'polls/base.html' %}
{% block title %}RPI Advanced Academic Catalog - Prof{% endblock %}
{% block content %}
    <body ng-app="myApp" ng-controller="MyCtrl">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top redcolor">
        <a href="{% url "index" %}"><img
                src="https://www.rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/RPIlogo_white.png"
                height="40px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./main.html">Course</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./main_faculty.html">Faculty</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div style="margin: 4px auto; text-align: center; width: 1200px; padding-top: 100px;">
            <form action="{% url 'search_prof' %}" method="get">
                <div class="row" style="margin: 4px auto; text-align: center; width: 1018px;">
                    <div class="col-auto">
                        <select ng-model="dep" name="dept" ng-init="dep = names[0]" ng-options="x for x in names"
                                style="height: 38px;"></select>
                    </div>
                    <div class="col-auto">
                        <label>
                            <input type="text" name="search_content" value="{{ search_content }}" placeholder="Faculty"
                                   style="height: 38px; width: 400px;">
                        </label>

                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger"
                                style="background-color: rgb(153, 0, 0); border-color: rgb(153, 0, 0);">Search
                        </button>
                    </div>
                    <div class="col-auto">
                        <select name="sort" class="custom-select">
                            <option value="1">Sort by: Alphabet</option>
                            <option value="2">Sort by: Course Code</option>
                            <option value="3">Sort by: Relevance</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>

        {% for prof in search_results %}
            <div class="row" style="padding-top: 10px;">
                <div class="col-auto">
                    <a href="{% url "prof_detail" name=prof.name db_id=prof.id %}">
                        <h5 style="color: rgb(153, 0, 0);">{{ prof.name }}</h5></a>
                    <p style="color: black;font-size: 16px;margin-top: -7px;">{{ prof.title }}<br>{{ prof.dept }}</p>
                </div>
            </div>
        {% endfor %}
        <div id="pages">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                <li class="page-item"><a class='active page-link' href="?page=1{% if request.GET.dept %}&dept={{request.GET.dept}}{% endif %}{% if request.GET.search_content %}&search_content={{request.GET.search_content}}{% endif %}">First</a></li>
                {% if search_results.has_previous %}
                    <a class='active page-link' href="?page={{ search_results.previous_page_number }}{% if request.GET.dept %}&dept={{request.GET.dept}}{% endif %}{% if request.GET.search_content %}&search_content={{request.GET.search_content}}{% endif %}">Previous</a>
                {% endif %}
                {% if search_results.number|add:-2 > 0 %}
                <li class="page-item"><a class='active page-link' href="?page={{ search_results.number|add:-2 }}{% if request.GET.dept %}&dept={{request.GET.dept}}{% endif %}{% if request.GET.search_content %}&search_content={{request.GET.search_content}}{% endif %}">{{ search_results.number|add:-2 }}</a></li>
                <li class="page-item"><a class='active page-link' href="?page={{ search_results.number|add:-1 }}{% if request.GET.dept %}&dept={{request.GET.dept}}{% endif %}{% if request.GET.search_content %}&search_content={{request.GET.search_content}}{% endif %}">{{ search_results.number|add:-1 }}</a></li>
                {% elif search_results.number|add:-1 > 0 %}
                <li class="page-item"><a class='active page-link' href="?page={{ search_results.number|add:-1 }}{% if request.GET.dept %}&dept={{request.GET.dept}}{% endif %}{% if request.GET.search_content %}&search_content={{request.GET.search_content}}{% endif %}">{{ search_results.number|add:-1 }}</a></li>
                {% endif %}
                <li class="active page-item"><a class="page-link">{{ search_results.number }} <span class="sr-only">(current)</span></a></li>
                {% if search_results.number|add:2 <= search_results.paginator.num_pages %}
                <li class="page-item"><a class='active page-link' href="?page={{ search_results.number|add:1 }}{% if request.GET.dept %}&dept={{request.GET.dept}}{% endif %}{% if request.GET.search_content %}&search_content={{request.GET.search_content}}{% endif %}">{{ search_results.number|add:1 }}</a></li>
                <li class="page-item"><a class='active page-link' href="?page={{ search_results.number|add:2 }}{% if request.GET.dept %}&dept={{request.GET.dept}}{% endif %}{% if request.GET.search_content %}&search_content={{request.GET.search_content}}{% endif %}">{{ search_results.number|add:2 }}</a></li>
                {% elif search_results.number|add:1 <= search_results.paginator.num_pages %}
                <li class="page-item"><a class='active page-link' href="?page={{ search_results.number|add:1 }}{% if request.GET.dept %}&dept={{request.GET.dept}}{% endif %}{% if request.GET.search_content %}&search_content={{request.GET.search_content}}{% endif %}">{{ search_results.number|add:1 }}</a></li>
                {% endif %}
                {% if search_results.has_next %}
                    <a class='active page-link' href="?page={{ search_results.next_page_number }}{% if request.GET.dept %}&dept={{request.GET.dept}}{% endif %}{% if request.GET.search_content %}&search_content={{request.GET.search_content}}{% endif %}">Next</a>
                {% endif %}
                <a class='active page-link' href="?page={{ search_results.paginator.num_pages }}{% if request.GET.dept %}&dept={{request.GET.dept}}{% endif %}{% if request.GET.search_content %}&search_content={{request.GET.search_content}}{% endif %}">Last</a>
                </li>
            </ul>
        </nav>
        </div>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('MyCtrl', function ($scope) {
            $scope.names = ["All Departments", "ARCH", "ARTS", "ASTR", "BCBP", "BIOL", "BMED", "CHEM", "CHME", "CISH or CSCI", "CIVL", "COGS", "COMM", "CSCI", "ECON", "ECSE", "ENGR", "ENVE", "ERTH", "ESCI", "GSAS", "IENV", "IHSS", "ISCI", "ISYE", "ITWS", "LANG", "LGHT", "LITR", "MANE", "MATH", "MATP", "MTLE", "PHIL", "PHYS", "PSYC", "STSH", "STSS", "USAF", "USAR", "USNA", "WRIT"];
        });

    </script>
    </body>
{% endblock %}>