<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<style>
	h5 {
		color: rgb(153, 0, 0);
	}

	p {
		color: black;
		font-size: 16px;
	}

  .redcolor {
    background-color: rgb(153, 0, 0);
  }
  
  #search {
    width: 357px;
    margin: 4px auto;
    text-align: center;
    display: inline-block;
  }
  
  .scroll-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }
</style>

</head>
<body ng-app="myApp" ng-controller="MyCtrl">
<nav class="navbar navbar-expand-md navbar-dark fixed-top redcolor">
  <a href="http://www.rpi.edu"><img src="https://www.rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/RPIlogo_white.png" height="40px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Faculty</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container">
    <div style="margin: 4px auto; text-align: center; width: 1000px; padding-top: 100px;">
    <form action="" method="get">
      <div class="row" style="margin: 4px auto; text-align: center; width: 718px;">
      <div class="col-auto">
        <select ng-model="dep" ng-init="dep = names[0]" ng-options="x for x in names" style="height: 38px;"></select>
      </div>
      <div class="col-auto">
      <input type="text" ng-model="course_search" name="search_content" placeholder="Course" style="height: 38px; width: 400px;">

      </div>
      <div class="col-auto">
      <button class="btn btn-danger" style="background-color: rgb(153, 0, 0); border-color: rgb(153, 0, 0);">Search</button>
      </div>
    </div>
    </form>
    </div>
    <p>{{dep}}<br>{{course_search}}</p>
    <div class="row">
    	<div class="col-auto">
    		<a href="#"><h5>ARCH 1210 - Advanced Architecture Career Discovery Program</h5></a>
    		<p>Similar structure as the Beginners program. The Advanced program will continue to cultivate design foundations explored in the Beginners course. Dates: TBA. 9:00 - 4:00 pm.</p>
    	</div>
    </div>
    <div class="row" style="padding-top: 10px;">
    	<div class="col-auto">
    		<a href="#"><h5>Course Title</h5></a>
    		<p>Description:xxxxxx</p>
    	</div>
    </div>
  </div>

<script>
  var app = angular.module('myApp', []);
app.controller('MyCtrl', function($scope) {
    $scope.names = ["All Departments", "ARCH", "ARTS", "ASTR", "BCBP", "BIOL", "BMED", "CHEM", "CHME", "CISH or CSCI", "CIVL", "COGS", "COMM", "CSCI", "ECON", "ECSE", "ENGR", "ENVE", "ERTH", "ESCI", "GSAS", "IENV", "IHSS", "ISCI", "ISYE", "ITWS", "LANG", "LGHT", "LITR", "MANE", "MATH", "MATP", "MTLE", "PHIL", "PHYS", "PSYC", "STSH", "STSS", "USAF", "USAR", "USNA", "WRIT"];
});

</script>
</body>
</html>