version: '3'

services:
  dbsdd:
    image: postgres:11.1-alpine
    container_name: postgres01
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:6543:5432"
    restart: always
    networks:
      - backend

  nginx_final:
    image: nginx:1.13-alpine
    container_name: nginx01
    ports:
      - "9000:8080"
    volumes:
      - ./project:/src
      - ./config/nginx:/etc/nginx/conf.d
    restart: always
    depends_on:
      - djangosdd
    networks:
      - backend


  selenium:
    image: selenium/standalone-chrome
    container_name: selenium01
    expose:
      - "4444"
    networks:
      - backend


  djangosdd:
    build:
      context: .
      dockerfile: config/docker/django/Dockerfile
    container_name: django01
    command: sh -c '/scripts/start_up.sh dbsdd'
    depends_on:
      - dbsdd
      - selenium    
    volumes:
      - ./scripts:/scripts
      - ./project:/src
    expose:
        - "8080"
    networks:
      - backend
    restart: always


networks:
  backend:
    driver: bridge

