version: '3'

services:
  db:
    image: postgres:11.1-alpine
    container_name: postgres01
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:6543:5432"
    restart: always

  nginx:
    image: nginx:1.13-alpine
    container_name: nginx01
    ports:
      - "8080:8080"
    volumes:
      - ./project:/src
      - ./config/nginx:/etc/nginx/conf.d
    restart: always
    depends_on:
      - djangoapp

  selenium:
    image: selenium/standalone-chrome
    container_name: selenium01
    expose: 
      - "4444"

  djangoapp:
    build:
      context: .
      dockerfile: config/docker/django/Dockerfile
    container_name: django01
    command: sh -c '/scripts/start_up.sh db'
    depends_on:
      - db
      - selenium    
    volumes:
      - ./scripts:/scripts
      - ./project:/src
    expose:
        - "8080"
    restart: always

